body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

.gradient {
    position: relative;
    margin: 10px auto;
    width: 95%;
    height: 80px;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.gradient span {
    position: absolute; bottom: 0; right: 10px;
}

.menu {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #AAA;
    z-index: 10000;
    height: 50px;
}

.content {
    padding-top: 50px;
}

@media (max-width: 640px) {
    .gradient {
        height: 160px;
    }
    .gradient span {
        font-size: 50px;
    }

    .menu {
        height: 100px;
    }

    .content {
        padding-top: 100px;
    }
}

